.App {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

h1 {
	font-family: sans-serif;
	margin: 20px;
}

.start {
	padding: 10px 30px 10px 30px;
	margin: 20px;
	background-color: white;
	border: 1px solid;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.start:hover {
	color: rgb(255, 255, 255);
	background-color: rgba(0, 0, 0, 0.705);
}

.score {
	font-family: sans-serif;
	font-size: 25px;
}

.next {
	margin-top: 50px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	height: 50px;
	width: 150px;
	background-color: white;
	border: 1px solid;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.next:hover {
	color: rgb(255, 255, 255);
	background-color: rgba(0, 0, 0, 0.705);
}
